body {
  font-size: 16px;
  color: black;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #33ffaad1;
  border-radius: 0;
  border: 0;
  padding: 5px;


}

.navbar-brand { /* Restaurant name */
  font-family: 'Oxygen', sans-serif;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  
}
#main-content{
	margin-top: 0;
  margin-bottom: 0;
  


}
.jumbotron{
	background-color: #b3ffe6c7;
}
#chicken{
	margin-top: -40px;
	margin-bottom: 0;
	padding: 5px;
}
a:hover{
  background: #00cc44 !important;
  color: red;
}
